* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 90%;
  max-width: 600px;
}

input {
  padding: 10px;
  width: 70%;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

.repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.repo-card {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}
